In [75]:
import datetime
import pandas as pd
import requests as re
from pprint import pprint as pp
import threading
import time
import sqlite3

In [13]:
def getData(token, fromm, to, time_frame):
    global last_data,superdf
    data=re.get(f"https://api.kite.trade/instruments/historical/{token}/{time_frame}?from={fromm}&to={to}",headers=headers)
#     print("data-->", data.json())
    df=pd.DataFrame(data.json()['data']['candles'])
    df.columns = ["Timestamp", "open", "high", "low","close","volume"]
    superdf=SuperTrendd(df)

    last_data = superdf.iloc[-1]
    return last_data

In [19]:
def getDataT(token, fromm, to, time_frame):
    global last_data,superdf
    data=re.get(f"https://api.kite.trade/instruments/historical/{token}/{time_frame}?from={fromm}&to={to}",headers=headers)
#     print("data-->", data.json())
    newrow=data.json()['data']['candles'][-1]
   
    return newrow
#     superdf=SuperTrend(df)
#     last_data = superdf.iloc[-1]

In [22]:
newrow = getDataT(5097729,from_date, to_date, time_frame )

In [68]:
newrow

['2023-04-03T15:21:00+0530', 3563.95, 3565.3, 3561, 3565.3, 4526]

In [25]:
period = 10
multiplier=3
ohlc=['Open', 'High', 'Low', 'Close']

In [27]:
data= superdf

In [101]:
superdf

,Timestamp,open,high,low,close,volume,ATR,final_ub,final_lb,ST,STX
0,2023-01-03T15:27:00+0530,4055.10,4064.85,4055.05,4064.00,1357,0.000000,0.00,0.00,0.00,NA
1,2023-01-04T09:15:00+0530,4049.95,4049.95,3985.05,3990.00,47622,7.895000,4041.18,3993.82,4041.18,red
2,2023-01-04T09:18:00+0530,3990.00,4014.65,3989.00,3990.00,35939,9.670500,4030.84,3972.81,4030.84,red
3,2023-01-04T09:21:00+0530,3990.10,3994.00,3982.10,3991.75,17198,9.893450,4017.73,3972.81,4017.73,red
4,2023-01-04T09:24:00+0530,3991.75,3993.15,3988.40,3990.00,9198,9.379105,4017.73,3972.81,4017.73,red
...,...,...,...,...,...,...,...,...,...,...,...
7619,2023-04-03T15:09:00+0530,3538.90,3548.00,3538.80,3548.00,6130,7.188197,3547.41,3521.84,3521.84,green
7620,2023-04-03T15:12:00+0530,3543.30,3550.00,3542.95,3547.95,7254,7.174377,3568.00,3524.95,3524.95,green
7621,2023-04-03T15:15:00+0530,3548.95,3554.95,3547.95,3553.50,12344,7.156940,3568.00,3529.98,3529.98,green
7622,2023-04-03T15:18:00+0530,3551.30,3578.00,3551.30,3563.95,22380,9.111246,3568.00,3537.32,3537.32,green
7623,2023-04-03T15:21:00+0530,3563.95,3565.30,3561.00,3565.30,4526,8.630121,3568.00,3537.32,3537.32,green

In [33]:
data = data.iloc[-1]

In [60]:
data

Timestamp    2023-04-03T15:21:00+0530
open                          3563.95
high                           3565.3
low                            3561.0
close                          3565.3
volume                           4526
ATR                          8.630121
final_ub                       3568.0
final_lb                      3537.32
ST                            3537.32
STX                             green
Name: 7623, dtype: object

In [38]:
tr0 = abs(newrow[2] - newrow[3])
tr1 = abs(newrow[2] - data["close"])
tr2 = abs(newrow[3]- data["close"])
TR = round(max([tr0, tr1, tr2]),2)

In [109]:
SuperTrend(newrow, data)

{'Timestamp': '2023-04-03T15:21:00+0530',
 'open': 3563.95,
 'high': 3565.3,
 'low': 3561,
 'close': 3565.3,
 'volume': 4526,
 'ATR': 78.10109013142932,
 'final_ub': 3568.0,
 'final_lb': 3537.32,
 'ST': 3537.32,
 'STX': 'green'}

In [108]:
superdf=superdf.append(SuperTrend(newrow, data),ignore_index=True)
last_data=

C:\Users\Rplus\AppData\Local\Temp\ipykernel_14496\214637102.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  superdf.append(SuperTrend(newrow, data),ignore_index=True)

,Timestamp,open,high,low,close,volume,ATR,final_ub,final_lb,ST,STX
0,2023-01-03T15:27:00+0530,4055.10,4064.85,4055.05,4064.00,1357,0.000000,0.00,0.00,0.00,NA
1,2023-01-04T09:15:00+0530,4049.95,4049.95,3985.05,3990.00,47622,7.895000,4041.18,3993.82,4041.18,red
2,2023-01-04T09:18:00+0530,3990.00,4014.65,3989.00,3990.00,35939,9.670500,4030.84,3972.81,4030.84,red
3,2023-01-04T09:21:00+0530,3990.10,3994.00,3982.10,3991.75,17198,9.893450,4017.73,3972.81,4017.73,red
4,2023-01-04T09:24:00+0530,3991.75,3993.15,3988.40,3990.00,9198,9.379105,4017.73,3972.81,4017.73,red
...,...,...,...,...,...,...,...,...,...,...,...
7619,2023-04-03T15:09:00+0530,3538.90,3548.00,3538.80,3548.00,6130,7.188197,3547.41,3521.84,3521.84,green
7620,2023-04-03T15:12:00+0530,3543.30,3550.00,3542.95,3547.95,7254,7.174377,3568.00,3524.95,3524.95,green
7621,2023-04-03T15:15:00+0530,3548.95,3554.95,3547.95,3553.50,12344,7.156940,3568.00,3529.98,3529.98,green
7622,2023-04-03T15:18:00+0530,3551.30,3578.00,3551.30,3563.95,22380,9.111246,3568.00,3537.32,3537.32,green
7623,2023-04-03T15:21:00+0530,3563.95,3565.30,3561.00,3565.30,4526,78.101090,3568.00,3537.32,3537.32,green

In [102]:
def SuperTrendT(newrow,data, period = 10, multiplier=3, ohlc=['Open', 'High', 'Low', 'Close']):
        global supertrend
        tr0 = abs(newrow[2] - newrow[3])
        tr1 = abs(newrow[2] - data["close"])
        tr2 = abs(newrow[3]- data["close"])
        TR = round(max([tr0, tr1, tr2]),2)
        
        ST=data["ST"]
        ATR = (data['ATR'] * (period-1))+TR/period
        BUB = round(((newrow[2] + newrow[3]) / 2) + (multiplier * ATR),2)
        BLB = round(((newrow[2] + newrow[3]) / 2) - (multiplier * ATR),2)
        
        if (BUB<data["final_ub"])|(data["close"]>data["final_ub"]):
            final_ub= BUB
        else:
            final_ub=data["final_ub"]

        if (BLB>data["final_lb"])|(data["close"]<data["final_lb"]):
            final_lb=BLB
        else:
            final_lb=data["final_lb"]
            
            
       
        if (ST==data['final_ub']) & (newrow[4]<=final_ub):
            ST =final_ub
        elif (data["ST"]==data["final_ub"])&(newrow[4]>final_ub):
            ST=final_lb
        elif (data["ST"]==data["final_lb"])&(newrow[4]>=final_lb):
            ST=final_lb
        elif (data["ST"]==data["final_lb"])&(newrow[4]<final_lb):
            ST=final_ub
            
    
        if (ST<data["close"]) :
            STX="green"
        else:
            STX="red"
            
        newrow_list = {"Timestamp":newrow[0],"open":newrow[1],"high":newrow[2],"low":newrow[3],"close":newrow[4],"volume":newrow[5],"ATR":ATR,"final_ub":final_ub,"final_lb":final_lb,"ST":ST, "STX":STX}
        
        
        return newrow_list

In [ ]:
from dateutil import parser
import requests as re
API_KEY="rfnqn5jyts2ljcq1"
# RUBbPfsVE3sbiBpIk109eAY4L8cOvdnv
# VkjKYp51T2TgvvHNPukdY5K2gRttR3W7
ACCESS_TOKEN="vk3pHzHHKpMqkuZkyqeiEM0mR9u8bX6r"
headers={"X-Kite-Version":'3','Authorization':"token "+API_KEY+":"+ACCESS_TOKEN}
ROOT_ENDPOINT="https://api.kite.trade"
API_SECRET="4t8tlmijcewpoov8nayd978x7bpj4yif"



interval=3
import datetime,time

from_date = datetime.datetime.now()-datetime.timedelta(days=90)
to_date = datetime.datetime.now()-datetime.timedelta(minutes=interval)
if interval==1:
    time_frame = 'minute'
    
else:
    time_frame = str(interval)+'minute'
    
last_row = getData(5097729,from_date, to_date, time_frame )
last_time=last_row.Timestamp
last_signal=last_row.STX
print('running',datetime.datetime.now(),last_time,last_row.Timestamp,last_row.open,last_row.high,last_row.low,last_row.close,last_row.volume,last_row.ST,last_row.STX,'side=sell'if last_row.STX=='red' else 'side=buy','qty=1','change=True')
#         adding data in file here
f = open("marketData.txt", "a")
d = f"{datetime.datetime.now()},{last_time,last_row.Timestamp},{last_row.open},{last_row.high},{last_row.low},{last_row.close},{last_row.volume},{last_row.ST},{last_row.STX},{'side=sell'if last_row.STX=='red' else 'side=buy'},{'qty=2'},{'change=True' if last_row.STX!=last_signal else 'change=False'}"
f.write(d)
# f.write(f"{datetime.datetime.now()},{last_time,last_row.Timestamp},{last_row.open},{last_row.high},{last_row.low},{last_row.close},{last_row.volume},{last_row.ST},{last_row.STX},{'side=sell'if last_row.STX=='red' else 'side=buy'},{'qty=2'},{'change=True' if last_row.STX!=last_signal else 'change=False'}")
# order_plc =  place_order(ROOT_ENDPOINT,headers,"NSE","ICICIBANK",1000,'SELL'if last_row.STX=='red' else 'BUY')
# print(order_plc)

# running 2023-03-24 13:58:41.163117 2023-03-24T13:54:00+0530 3357.65 3359.65 3355.3 3357.8 424 3367.48 red side=sell qty 1or2 change=True
t1 = threading.Thread(target=getDataThread)
t1.start()
while True:
    time.sleep(1)
    if str(parser.parse(last_time.replace("T"," "))+datetime.timedelta(minutes=interval*2))<str(datetime.datetime.now()):
        
       
        print('running',datetime.datetime.now(),last_time,last_row.Timestamp,last_row.open,last_row.high,last_row.low,last_row.close,last_row.volume,last_row.ST,last_row.STX,'side=sell'if last_row.STX=='red' else 'side=buy','qty=2','change=True' if last_row.STX!=last_signal else 'change=False')
#         adding data in file here
        f = open("marketData.txt", "a")
        d = f"{datetime.datetime.now()},{last_time,last_row.Timestamp},{last_row.open},{last_row.high},{last_row.low},{last_row.close},{last_row.volume},{last_row.ST},{last_row.STX},{'side=sell'if last_row.STX=='red' else 'side=buy'},{'qty=2'},{'change=True' if last_row.STX!=last_signal else 'change=False'}"
        f.write(d)
        print(f"{datetime.datetime.now()},{last_time,last_row.Timestamp},{last_row.open},{last_row.high},{last_row.low},{last_row.close},{last_row.volume},{last_row.ST},{last_row.STX},{'side=sell'if last_row.STX=='red' else 'side=buy'},{'qty=2'},{'change=True' if last_row.STX!=last_signal else 'change=False'}")

        last_signal=last_row.STX
        if last_row.STX!=last_signal:
            print("order called")
#             order_plc =  place_order(ROOT_ENDPOINT,headers,"NSE","ICICIBANK",1000,'SELL'if last_row.STX=='red' else 'BUY')
            print(order_plc)

In [77]:
conn =  sqlite3.connect("treading.db")

In [79]:
command =  "create table tr_data (Timestamp text, open float,high text,low text, close float,volume float,ATR float, final_ub float,final_lb float,ST float,STX text)"
conn.execute(command)
print("table created")

table created

In [91]:
SuperTrend(newrow)

# add1 ="INSERT into tr_data (id, timestamp, open, high, low, close, volume, ATR, final_ub, final_lb, ST, STX)
# VALUES (7623, '2023-04-03T15:21:00+0530', 3563.95, 3565.3, 3561.0, 3565.3, 4526, 8.630121, 3568.0, 3537.32, 3537.32, 'green')";
add1 =  "insert into tr_data ( Timestamp, open, high, low, close, volume, ATR, final_ub, final_lb, ST, STX) values( '2023-04-03T15:21:00+0530', 3563.95, 3565.3, 3561.0, 3565.3, 4526, 8.630121, 3568.0, 3537.32, 3537.32, 'green')"

conn.execute(add1)
print("table created")

table created

In [92]:
conn.commit()

In [95]:
addi = 'select * from tr_data'
result = conn.execute(addi)
for row in result:
    print(row)

('2023-04-03T15:21:00+0530', 3563.95, '3565.3', '3561.0', 3565.3, 4526.0, 8.630121, 3568.0, 3537.32, 3537.32, 'green')
('2023-04-03T15:21:00+0530', 3563.95, '3565.3', '3561.0', 3565.3, 4526.0, 8.630121, 3568.0, 3537.32, 3537.32, 'green')

In [14]:
def SuperTrendd(data, period = 10, multiplier=3, ohlc=['open', 'high', 'low', 'close']):
        global supertrend
        data['tr0'] = abs(data["high"] - data["low"])
        data['tr1'] = abs(data["high"] - data["close"].shift(1))
        data['tr2'] = abs(data["low"]- data["close"].shift(1))
        data["TR"] = round(data[['tr0', 'tr1', 'tr2']].max(axis=1),2)
        data["ATR"]=0.00
        data['BUB']=0.00
        data["BLB"]=0.00
        data["final_ub"]=0.00
        data["final_lb"]=0.00
        data["ST"]=0.00
        for i, row in data.iterrows():
            if i == 0:
                data.loc[i,'ATR'] = 0.00#data['ATR'].iat[0]
            else:
                data.loc[i,'ATR'] = ((data.loc[i-1,'ATR'] * (period-1))+data.loc[i,'TR'])/period
        data['BUB'] = round(((data["high"] + data["low"]) / 2) + (multiplier * data["ATR"]),2)
        data['BLB'] = round(((data["high"] + data["low"]) / 2) - (multiplier * data["ATR"]),2)
        
        if (data.loc[i,"BUB"]<data.loc[i-1,"final_ub"])|(data.loc[i-1,"close"]>data.loc[i-1,"final_ub"]):
            data.loc[i,"final_ub"]=data.loc[i,"BUB"]
        else:
            data.loc[i,"final_ub"]=data.loc[i-1,"final_ub"]

        if (data.loc[i,"BLB"]>data.loc[i-1,"final_lb"])|(data.loc[i-1,"close"]<data.loc[i-1,"final_lb"]):
            data.loc[i,"final_lb"]=data.loc[i,"BLB"]
        else:
            data.loc[i,"final_lb"]=data.loc[i-1,"final_lb"]

        for i, row in data.iterrows():
            if i==0:
                data.loc[i,"ST"]=0.00
            elif (data.loc[i-1,"ST"]==data.loc[i-1,"final_ub"]) & (data.loc[i,"close"]<=data.loc[i,"final_ub"]):
                data.loc[i,"ST"]=data.loc[i,"final_ub"]
            elif (data.loc[i-1,"ST"]==data.loc[i-1,"final_ub"])&(data.loc[i,"close"]>data.loc[i,"final_ub"]):
                data.loc[i,"ST"]=data.loc[i,"final_lb"]
            elif (data.loc[i-1,"ST"]==data.loc[i-1,"final_lb"])&(data.loc[i,"close"]>=data.loc[i,"final_lb"]):
                data.loc[i,"ST"]=data.loc[i,"final_lb"]
            elif (data.loc[i-1,"ST"]==data.loc[i-1,"final_lb"])&(data.loc[i,"close"]<data.loc[i,"final_lb"]):
                data.loc[i,"ST"]=data.loc[i,"final_ub"]

        # Buy Sell Indicator
        for i, row in data.iterrows():
            if i==0:
                data["STX"]="NA"
            elif (data.loc[i,"ST"]<data.loc[i,"close"]) :
                data.loc[i,"STX"]="green"
            else:
                data.loc[i,"STX"]="red"
        return data

In [15]:
from dateutil import parser
import requests as re
API_KEY="rfnqn5jyts2ljcq1"
# RUBbPfsVE3sbiBpIk109eAY4L8cOvdnv
# VkjKYp51T2TgvvHNPukdY5K2gRttR3W7
ACCESS_TOKEN="vk3pHzHHKpMqkuZkyqeiEM0mR9u8bX6r"
headers={"X-Kite-Version":'3','Authorization':"token "+API_KEY+":"+ACCESS_TOKEN}
ROOT_ENDPOINT="https://api.kite.trade"
API_SECRET="4t8tlmijcewpoov8nayd978x7bpj4yif"



interval=3
import datetime,time

from_date = datetime.datetime.now()-datetime.timedelta(days=90)
to_date = datetime.datetime.now()-datetime.timedelta(minutes=interval)
if interval==1:
    time_frame = 'minute'
    
else:
    time_frame = str(interval)+'minute'

last_row = getData(5097729,from_date, to_date, time_frame )
last_time=last_row.Timestamp
last_signal=last_row.STX

In [16]:
superdf

,Timestamp,open,high,low,close,volume,ATR,final_ub,final_lb,ST,STX
0,2023-01-03T15:27:00+0530,4055.10,4064.85,4055.05,4064.00,1357,0.000000,0.00,0.00,0.00,NA
1,2023-01-04T09:15:00+0530,4049.95,4049.95,3985.05,3990.00,47622,7.895000,4041.18,3993.82,4041.18,red
2,2023-01-04T09:18:00+0530,3990.00,4014.65,3989.00,3990.00,35939,9.670500,4030.84,3972.81,4030.84,red
3,2023-01-04T09:21:00+0530,3990.10,3994.00,3982.10,3991.75,17198,9.893450,4017.73,3972.81,4017.73,red
4,2023-01-04T09:24:00+0530,3991.75,3993.15,3988.40,3990.00,9198,9.379105,4017.73,3972.81,4017.73,red
...,...,...,...,...,...,...,...,...,...,...,...
7619,2023-04-03T15:09:00+0530,3538.90,3548.00,3538.80,3548.00,6130,7.188197,3547.41,3521.84,3521.84,green
7620,2023-04-03T15:12:00+0530,3543.30,3550.00,3542.95,3547.95,7254,7.174377,3568.00,3524.95,3524.95,green
7621,2023-04-03T15:15:00+0530,3548.95,3554.95,3547.95,3553.50,12344,7.156940,3568.00,3529.98,3529.98,green
7622,2023-04-03T15:18:00+0530,3551.30,3578.00,3551.30,3563.95,22380,9.111246,3568.00,3537.32,3537.32,green
7623,2023-04-03T15:21:00+0530,3563.95,3565.30,3561.00,3565.30,4526,8.630121,3568.00,3537.32,3537.32,green